.top_bar { background-color:#ffa500;
	        padding:5px 0px;
	     }    

 .social_icons{margin-right:5px;}

 .contact_info{ color:#fff;
                font-size:16px;
              }

  .text-center pre{color:#5e95f6;
             margin-top:10px;
             font-family:sans-serif;}  

   .text-right span{color:red;}          

/*Start header mail and phone Icon*/
   @font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
  }
  
 .glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 }

 .glyphicon-envelope:before {
  content: "\2709";
  color:#fff;
}

.glyphicon-earphone:before {
  content: "\e182";
  color:#fff;
}
/*End header mail and phone Icon*/


/*Start words blinking*/ 
.blink{
       width:200px;
       height:50px;
       background-color:#900C3F;
       padding:10px;
       text-align:right;
       line-height:20px;
      }
  span{
      font-size:20px;
      color:white;
      animation:blink 1s linear infinite;
      } 
  @keyframes blink{
                   0%{opacity:0;}
                   50%{opacity:.5;}
                  100%{opacity:1;}
                  }    
/*End Word blink*/

.navbar{padding-top:5px;}


.navbar .navbar-expand-lg{background-color:none;
                             border:none;}


.navbar  .navbar-nav li{margin-left:50px;}

.navbar  .navbar-nav .active a{ background:#ffa500;
                                color:#fff;}    

.navbar  .navbar-nav li a:hover{background:#ffa500;
                                color:#fff;}

 /*.navbar-collapse{
                  background-color:#5e95f6;
                 } */   

 .carousel-item{height:450px;
                width:100%;}                              

.jumbotron-fluid {background-color:#5e95f6;}

  .my_jumbotron{font-size:30px;
                color:#fff; }

/*Start chanre group area*/
.groups_area{background: url("C:/Users/ChanRe/Desktop/BMC Folder/NSPCedu.com/assets/image/slider13.png");
            background-size:cover;
            width:100%;
            background-repeat: no-repeat !important;
            position:relative;
            overflow:hidden;
           }      

.groups_area h5{
               position:relative;
               z-index:3;
              }
/*.groups_area url{
                 width:100%;
                 position:relative;
                 opacity:0.2;
               }*/

.groups_images img{opacity:0.5;
                  filter:alpha(opacity=50);}

.groups_images img:hover{opacity:2.0;
                        filter:alpha(opacity:100);}  /*For IE8 and earlier*/   
 /*End Group area*/

                                   
 /*Start NSPC Education*/    
  .text-center .w3l-sub{color:#5e95f6;}

  .text-center .w4l-sub a{color:#FF0000;}

  .well-images .assets-slider{height:100%;
                              width:100%;}

 .edu-images .assets-image{height:50%;
                           width:100%;}  

 .images-faculty{margin:20px;}  

     /*img{
          margin-left:10px;        
        } */ 

  .panel-body{background-color:#fff9fe;
              font-size:20px;}

  .events_area {
                background:url('C:/Users/ChanRe/Desktop/BMC Folder/NSPCedu.com/assets/image/imag9.png'); 
                background-size:cover;
                width:100%;
                overflow:hidden;
                position:relative;
                background-repeat:no-repeat !important;               
              }   
 /*End NSPC Education*/    


  .copyright_area pre {
                       color:#00008b;
                      }        
                span a{
                       color:#ffa500;
                      }    

 .breadcrumb-bg{background-color:gray;} 

/*contact us form*/
#contact-form {padding:5px 10px 10px 5px;
               width:80%;
               height:20%;}


/*End contact us form*/